header
    .person
        .avatar
        p 
            span.name Ivan Abramov's 
                    | space - boards
    .calender
        img(src="images/params.svg")
        img(src="images/calendar.svg")