main
    section 
        header To Do
        input(type="text" placeholder="add new task")
        ul.getItem(ondragover="allowDrop(event)" ondrop="drop(event)")
            

    section 
        header Done
        ul.getItem(ondragover="allowDrop(event)" ondrop="drop(event)")
            
    section.new-section
        span +