main
    section 
        header
            | To Do
            input#item(type="text" placeholder="add new task")
            button#add
                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 16 16', style='enable-background:new 0 0 16 16;', xml:space='preserve')
                  g
                    path.fill(d='M16,8c0,0.5-0.5,1-1,1H9v6c0,0.5-0.5,1-1,1s-1-0.5-1-1V9H1C0.5,9,0,8.5,0,8s0.5-1,1-1h6V1c0-0.5,0.5-1,1-1s1,0.5,1,1v6h6C15.5,7,16,7.5,16,8z')
        //ul.getItem(ondragover="allowDrop(event)" ondrop="drop(event)")
        
        .container
              // Uncompleted tasks
              ul#todo.todo(class="getItem" ondragover="allowDrop(event)" ondrop="drop(event)")
            

    section
        header Done
        //ul.getItem(ondragover="allowDrop(event)" ondrop="drop(event)")
        
        .container
            ul#completed.todo(class="getItem" ondragover="allowDrop(event)" ondrop="drop(event)")
            
    section.new-section
        span +
        
        
        