main {
    margin: 20px;

    display: flex;
    flex-flow: row wrap;

    section {
        min-height: 400px;
        background-color: #E3E3E3;
        border-radius: 6px;
        margin: 5px 15px;
        flex-basis: 260px;


        header {
            position: relative;
            border-radius: 6px;
            min-height: 80px;
            background: #25b99a;
            box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);

            input {
                height: 50px;
                margin-left: 10px;
                padding: 0 40px 0 0;

                color: #fff;
                font-size: 15px;
                font-weight: 400;
                text-indent: 18px;
                background: rgba(255, 255, 255, 0.2);
                border-radius: 5px 25px 25px 5px;
                border: 0px;
                box-shadow: none;
                outline: none;

                -webkit-appearance: none;
                -moz-appearance: none;


            }

            button {
                width: 50px;
                height: 50px;

                position: absolute;

                right: 3px;
                z-index: 2;

                border-radius: 25px;
                background: #fff;
                border: 0px;
                box-shadow: none;
                outline: none;
                cursor: pointer;

                -webkit-appearance: none;
                -moz-appearance: none;

                svg {
                    width: 16px;
                    height: 16px;

                    position: absolute;
                    top: 50%;
                    left: 50%;

                    margin: -8px 0 0 -8px;

                    .fill {
                        fill: #25b99a;
                    }
                }
            }
        }



        ul {
            padding: 10px;
            max-width: 100%;

            li {
                height: 24px;
                border-radius: 3px;
                margin-top: 5px;
                cursor: move;
                box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);

                background-color: #FFF;
                border-bottom: 1px solid #CCC;
                padding: 6px 8px;
                cursor: move;

                img {
                    cursor: pointer;
                }
            }
            .lineThroughItem {
                text-decoration: line-through;
            }
        }
    }
    .new-section {
        border: none;
        border: 3px dashed #212121;
        border-radius: 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        span {
            color: #25b99a;
            opacity: .5;
            font-size: 130px;
            cursor: pointer;
            line-height: 10px;
            transition: all .5s;

            &:hover {
                opacity: .8;
            }
        }

    }
}





ul.todo {
    li {
        border-radius: 5px;
        position: relative;
        box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.1);
        margin: 0 0 10px 0;
        padding: 14px 100px 14px 14px;
        word-break: break-word;
        &:last-of-type {
            margin: 0;
        }
        .buttons {
            width: 100px;
            height: 50px;
            position: absolute;
            top: 0;
            right: 0;
            button {
                width: 50px;
                height: 50px;
                float: left;
                background: none;
                position: relative;
                border: 0px;
                box-shadow: none;
                outline: none;
                cursor: pointer;
                -webkit-appearance: none;
                -moz-appearance: none;
                
                &:last-of-type:before {
                    content: '';
                    width: 1px;
                    height: 30px;
                    background: #edf0f1;
                    position: absolute;
                    top: 10px;
                    left: 0;
                }
                svg {
                    width: 22px;
                    height: 22px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin: -11px 0 0 -11px;
                }
                &.complete svg {
                    border: 1px solid #25b99a;
                    border-radius: 50%;
                    transition: background 0.2s ease;
                }
            }
        }
    }
    &#completed li .buttons button.complete svg {
        background: #25b99a;
        border: 0px;
    }
    &#todo li .buttons button.complete svg rect {
        fill: #fff;
    }
    &#completed li .buttons button.complete {
        svg rect {
            fill: #25b99a;
        }
        &:hover svg rect {
            fill: lighten(#25b99a, 10%);
        }
    }
    &:not(#completed) li .buttons button.complete:hover svg {
        background: rgba(37, 185, 154, 0.75);
        .fill {
            fill: lighten(#25b99a, 10%);
        }
    }
    &#completed li .buttons button.complete svg .fill {
        fill: #fff;
    }
    li .buttons button {
        svg .fill {
            transition: fill 0.2s ease;
        }
        &.remove {
            svg .fill {
                fill: #c0cecb;
            }
            &:hover svg .fill {
                fill: #e85656;
            }
        }
        &.complete svg .fill {
            fill: #25b99a;
        }
    }
    &#completed {
        position: relative;
        padding: 10px;
    }
    &#todo:empty:after {
        content: 'You have nothing to-do!';
        margin: 15px 0 0 0;
    }
    &#completed:empty:after {
        content: 'You have yet to complete any tasks.';
        margin: 15px 0 0 0;
    }
    &#todo:after,
    &#completed:after {
        width: 100%;
        display: block;
        text-align: center;
        font-size: 12px;
        color: #aaa;
    }
}