.section {
    min-height: 100vh;
}

a {
    color: $color-secondary;
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-decoration: none;
}

.noFill {
    fill: none;
}

.getItem {
    min-height: 500px;
}