.section {
    min-height: 100vh;
}

a {
    color: $color-secondary;
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-decoration: none;
}

.droppable {
    border: 1px dotted #7f8082;
    border-radius: 3px;
    padding: 0.5rem;
}